<!doctype html>
<html lang="en" dir="ltr" data-theme="system" class="no-js">
  {% include 'head' %}

  <body data-instant-mousedown-shortcut data-instant-intensity="viewport">
    <header>
      {% include 'nav' %}
    </header>

    <main id="main" class="main" aria-label="Main content">
      <header class="section">
        <h1 class="section__title__main">{{ title }}</h1>
        {%- if subtitle -%}
          <p class="section__subtitle">{{ subtitle }}</p>
        {%- endif -%}
        {%- if type == 'post' -%}
          <p class='post__subtitle'>
            <time class="post__date" datetime="{{ page.date | date: '%Y-%m-%d' }}"">
              {{ page.date | date: '%b %d, %Y', 'UCT' }}
            </time>
            {%- if host != null -%}
              &nbsp;
                <span class="post__host">
                  For <a href="{{ external_url }}" target="_blank" rel="noopener noreferrer">{{ host }}</a>
                </span>
            {%- endif -%}
          </p>
        {%- endif -%}
      </header>

      {%- if excerpt -%}
        <div class="section">
          <p class="card__quote">
            {{ excerpt | orphans | markdownify }}
          </p>

          {%- if excerpt_2 -%}
            <p class="card__quote">
              {{ excerpt_2 | orphans | markdownify }}
            </p>
          {%- endif -%}

          {%- if tag_line -%}
            <p class="card__tag-line">{{ tag_line | markdownify }}</p>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if type == 'about' or type == 'post' or type == '404' -%}
        <div class="section section__with-divider post__content">
          {{ content }}
        </div>
      {%- else -%}
        {{ content }}
      {%- endif -%}
      
      {%- if type == 'about' -%}
        <div class="section section__with-divider">
          <header>
              <h2 class="section__title" id="experience">Experience</h2>
          </header>

          <ol class="list" role="list" aria-labelledby="recent-projects">
            {%- for job in jobs -%}
              <li class="list__item" role="listitem">
                <h3 class="list__title">{{ job.title }}</h3>
                <p class="list__subtitle">
                  <span>{{ job.period }}</span>&nbsp;<a href="{{ job.company_url }}" target="_blank" rel="noopener noreferrer">{{ job.company }}</a>
                </p>
              </li>
            {%- endfor -%}
          </ol>
        </div>
      {%- endif -%}


      {%- if type != '404' -%}
        <div class="section section__with-divider">
          <div class="card">
            <p class="card__quote">
              Do you want me to speak at your conference or write for your publication?
            </p>
            <p class="card__tag-line">
              Click <a href="mailto:jmenichelli@gmail.com">here</a> to contact me for collaborations.
            </p>
          </div>
        </div>
      {%- endif -%}
    </main>

    {% include 'footer' %}
  </body>
</html>
